.vs/
x64/
Debug/
Release/
*.user
*.suo
*.pdb
*.ilk
*.exp
*.idb
*.exe
*.obj
*.tlog
*.lastbuildstate
*.ifc
*.log
*.recipe
*.ifc.d.json
*.module.json
*.module.json.command
*.dt.d.json
*.FileListAbsolute.txt
*.Build.CppClean.log
libs/lua/liblua54.a